/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    /* Background colors */
    --bg--primary--color: #0c0c0c;


    /* Text colors */
    --text--primary-color:#f0f0f0;

    /* Spacing */
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-2xl:40px;
    --space-3xl:48px;

    /* Border colors */ 
    --border--primary-color:#333333;

    /* border radius variables */
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 20px;
    --radius-2xl: 24px;

}

html,body {
  font-family: Arial, sans-serif;
  background-color: var(--bg--primary--color);
  color: var(--text--primary-color);
  color: var(--text--primary-color);
  height: 100%;
  width: 100%;
}


main,section {
    width: 100%;
    height: 100%;

}

section {
    padding:var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
}

section .infos {
    /* max-width: 80%; */
    display: flex;
    justify-content: space-between;
}

.info {
    padding: var(--space-md);
    border: 1px solid var(--border--primary-color);
    border-radius: var(--radius-sm);
}

.board {
border: 1px solid white;
flex-grow: 1;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(80px, 1fr));
grid-template-rows: repeat(auto-fill,minmax(80px, 1fr));
}

.block {
    height: 80px;
    width: 80px;
    border: 1px solid var(--border--primary-color);
}