* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #efec08, #3b9a12);

}

.quiz-container {
    height: auto;
    border: 1px solid black;
    text-align: center;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(129, 162, 10, 0.957);
}
.quiz-container h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.quiz-box h2 {
    font-size: 2rem;
}

#next-btn {
    padding: 12px 36px;
    margin-top: 10px;
    border-radius: 50px;
    border:none;
    outline:none;
    font-weight: bold;
    font-size: 1rem;
    background-color: #127cc7;
    color:white;
    transition: 0.3s;
}

#next-btn:hover {
    background-color: #0d5d95
}