* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    text-align: center;
    background-image: url(./image/table.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}


h1 {
    color:goldenrod
}

#message-el {
    font-style: italic;
}

button {
    padding: 5px 0 5px;
    font-weight: bold;
    width: 150px;
    font-size: 18px;
    background-color: goldenrod;
    color: #016f32;
    border: none;
    margin-top: 10px;
    border-radius: 2px;
}
button:hover {
    background-color: rgb(206, 177, 14);
}
