body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eaeaea;
}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

input {
    width: 90%;
    padding: 5px;
    margin-top: 10px;
}

button {
    padding:  10px 20px;
    width: 90%;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: yellow;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}