body {
    margin: 0;
    font-family:Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}
.logo {
    font-size: 24px;
    font-weight: bold;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 40px;
}
.nav-links li {
    display: inline;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-style: 18px;
}.content {
    margin-top: 80px;

}
.navbar.sticky {
    background-color:#222;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


